* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    background-color: #eef1f5; 
    color: #333;
}

h1 {
    font-size: 2.5em; 
    color: #2c3e50; 
    text-align: center;
    margin: 30px 0 20px 0; 
    padding-bottom: 10px;
    border-bottom: 3px solid #3498db; 
}


li {
    margin-bottom: 20px; 
}

p {
    font-weight: 600;
    margin: 0;
    color: #000000;
}

ul {
    margin: 10px 0 0 20px; 
    list-style-type: disc; 
}

ul li {
    font-size: 1em; 
    color: #555;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 2em; /* Adjust heading size */
    }

    ol {
        padding: 20px; /* Further reduce padding on smaller screens */
    }

    li {
        margin-bottom: 15px; /* Reduce margin between list items */
    }

    p {
        font-size: 0.9em; /* Adjust font size for paragraphs */
    }

    ul li {
        font-size: 0.9em; /* Adjust font size for list items */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em; /* Further adjust heading size */
    }

    ol {
        padding: 10px; /* Further reduce padding */
    }

    p {
        font-size: 0.8em; /* Further adjust font size */
    }

    ul li {
        font-size: 0.8em; /* Further adjust list item font size */
    }
}
